.powercord-alias-break {
  height: 12px;
}

.powercord-alias-textarea {
  color: #f6f6f7;
  background-color: rgba(0,0,0,.1);
  border: 1px solid rgba(0,0,0,.3);
  border-radius: 3px;
  
  padding: 10px;
  height: auto;
  resize: none;
  overflow-y: hidden;
  width: 100%;
  
  font-size: 16px;
}
.theme-light .powercord-alias-textarea {
  color: #4F545C;
  background-color: #F5F6F6;
  border-color: #BABDBF;
}

.powercord-alias-header {
  color: #fff;
  display: inline;
}
.theme-light .powercord-alias-header {
  color: #63676E;
}

.powercord-alias-description {
  color: #72767d;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}
.theme-light .powercord-alias-description {
  color: #AEB1B4;
}

.powercord-alias-example {
  color: #fff;
  font-family: courier new;
  display: inline;
  border: 1px dashed #aaa;
  background: #333;
  margin-top: 4px;
  margin-left: 4px;
  padding: 2px;
}
.theme-light .powercord-alias-example {
  color: #000;
  border-color: #000;
  background: #eee;
}

.powercord-alias-pair {
  border-radius: 5px;
  border: 1px solid #202225;
  background: #292B2F;
  padding: 20px;
  margin-bottom: 20px;
}
.powercord-alias-pair#new {
  margin-top: 20px;
}
.theme-light .powercord-alias-pair {
  color: #4F545C;
  background-color: #F8F9F9;
  border-color: #DCDDDE;
}

.powercord-alias-button {
  position: relative;
  float: right;
  bottom: 8px;
}
